// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.customers {
	width: 780px;
}

.customer {
	border: 1px solid grey;
	margin: 2.5px;
	width: 250px;
	height: 500px;
	display: inline-block;
	float: left;
	box-shadow: 2px 1px 7px 1px grey;

	img {
		width: 200px;
	}

	ul li {
		display: inline;
	}

	#notes {
		width: 250px;
	}
}